anndata==0.10.5
cellxgene-census
openpyxl
dataclasses_json
pandas>=2.1.1
ruamel.yaml
jsonschema>=4.21.1
ordered-set==4.1.0
deepmerge==1.1.0
cell-annotation-schema
h5py>=3.10.0
numpy>=1.23.5
setuptools>=65.5.1